/* Reset CSS (Semua elemen akan di reset atas bawah dan kiri jadi mepet*/
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

li{
    list-style: none;
    
}

li:hover{
    background-color: red;
}
/* Header */
header{
    background-color: blue;
    color           : white;
    height          : 90px;
}
/*Selector*/
.header-logo{
    float : left;
    font-size: 36px;
    padding: 20px 40px;
}

.header-nav li{
    float: left;
    padding: 35px 20px;
}

/*Main Content*/
main{
    padding: 100px 80px;
}
.main-container h1{
    font-size: 95px;
}
.main-container h2{
    font-size: 60px;
}
.main-container span{
    color: red;
}

/* Konten */
.contents{
    height: 500px;
    margin-top: 100px;
}
.section-title{
    border-bottom: 5px solid pink;
    font-size: 28px;
    padding-bottom: 15px;
    margin-bottom: 30px;
}
.content-item{
    float: left;
    margin-right: 40px;
}
.content-img{
    width: 250px;
    height: 250px;
    padding: 10px;
    background-color: red;
}
.content-img.htmlcss{
    background: white;
}
.content-img.php{
    background: green;
}
.content-img.java{
    background: blue;
}
.content-img.python{
    background: brown;
}

.content-img img{
    width: 250px;
}

.content-item p{
    font-size: 25px;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 150px;
}

/* Bagian Kontak */
.kontak {
    padding-top: 150px;
}

input, textarea{
    width: 400px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px 20px;
    font-size: 18px;
    border: 1px solid grey;
}

.kontak-submit{
    background-color: green;
    color: white;
    cursor: pointer;
}
.txt-red{
    color: red;
}

/* FOOTER */
footer{
    background-color: blue;
    color: white;
    padding: 20px 40px;
    height: 30px;
    margin-top: 500px;
}

.footer-logo {
    float: left;
    font-size: 30px;
}

.footer-nav{
    float: right;
}

.footer-nav li {
    padding: 10px 20px;
    float: left;
}